
body{
    background-color: rgb(57, 46, 46);
    
}


.card{
    background-color: aqua;
    border-radius: 20px;
    text-align: center;
    height: 250px;
    width: 380px;
    margin: 20px;
}

.conteiner{
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* margin: 200px; */
    /* padding: 80px; */
   

}

.loading{
    color: red;

}

.progress{
    margin: 20px;
}
